<!DOCTYPE html>

{{> head}}

<body>
    {{> header}}
    {{> navbar}}
    <div class="card border-primary">
        <h5 class="card-header text-center">Edit Patient Data</h5>
        <div class="card card-body w-90 border-primary">


            <form action="/patients/edit/" method="post" class="form-row">
                <div class="form-row">
                    <div class="form-group col-md-3 ">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name"  value="{{patient.first_name}}"
                            autofocus required>
                        <input type="hidden" id="custId" name="_id" value="{{patient._id}}">
                        <input type="hidden" id="custId" name="_rev" value="{{patient._rev}}">
                    </div>
                    <div class="form-group col-md-3 ">
                        <label for="middle_name">Middle Name</label>
                        <input type="text" class="form-control" name="middle_name" value="{{patient.middle_name}}">
                    </div>
                    <div class="form-group col-md-3 ">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name"  required value="{{patient.last_name}}">
                    </div>
                    {{!-- <div class="form-group col-md-2 ">
                        <img src="" alt="200x200 Picture" class="img-thumbnail">
                    </div> --}}
                    
                     <div class="form-check form-check-inline col-xs-2 ">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sex" id="female" value="female">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="pregnant" id="pregnant" value="{{patient.pregnant}}">
                            <label class="form-check-label" for="pregnant">
                                Pregnant
                            </label>
                        </div>
                    </div>

                </div>
        </div>
        <div class="card card-body border-primary">

            {{!-- end of form row --}}
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address"  value="{{patient.address}}">
                </div>
                <div class="form-group col-md-2 ">
                    <label for="purok">Purok</label>
                    <input type="text" class="form-control" id="purok" name="purok"  value="{{patient.purok}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" list="cities" value="{{patient.city}}">
                    <datalist id="cities">
                        <option> General Luna</option>
                        <option> Dapa</option>
                        <option> Pilar</option>
                        <option>Santa Monica</option>
                        <option>Del Carmen</option> 
                        <option>San Isidro</option> 
                        <option>Pacifico</option> 
                        <option>Burgos</option> 
                        <option>Soccorro</option> 
                        <option>San Benito</option> 
                        <option>Alegria</option> 
                    </datalist>
                </div>
            </div>
            {{!-- end of form row --}}
            <div class="form-row">
                <div class="form-group col-md-4 ">
                    <label for="province">Province</label>
                    <input type="text" id="province" class="form-control" name="province" list="provinces" value="{{patient.province}}">
                    <datalist id="provinces">
                        <option> Surigao del Norte</option>
                        <option> Dinagat</option>
                        <option> Agusan</option>
                        <option>Bohol</option>
                        <option>Surigao del Sur</option> 
                    </datalist>
                </div>

                <div class="form-group col-md-4 ">
                    <label for="phone1">Phone</label>
                    <input type="text" class="form-control" name="phone1" size="15"value="{{patient.phone1}}">
                </div>
            </div>
        </div>
        <div class="card card-body border-primary">
            <div class="form-row">
                <div class="form-group col-md-4 ">
                    <label for="dob">Date of Birth</label>
                    <input type="text" class="form-control" name="dob" size="15" placeholder="MM/DD/YY" value="{{patient.dob}}">
                </div>
                <div class="form-group col-md-2" >
                    <label for=" blood_type">Blood Type</label>
                    <select id="blood_type" class="form-control" name="blood_type" default="unkown" value="{{patient.blood_type}}">
                        <option>unknown</option>
                        <option>O-</option>
                        <option> O+</option>
                        <option> A-</option>
                        <option> A+</option>
                        <option> B-</option>
                        <option> B+</option>
                        <option> AB-</option>
                        <option> AB+</option>
                    </select>
                </div>

                <div class="form-group col-md-2 ">
                    <label for="last_visit">Last Visit</label>
                    <input type="text" class="form-control" name="last_visit" placeholder="MM/DD/YY" value="{{patient.last_visit}}">
                </div>
                <div class="form-group col-md4 ">
                    <label for="phil_health">PhilHelath #</label>
                    <input type="text" class="form-control" name="phil_health"  value="{{patient.phil_health}}">
                </div>

            </div>
            {{!-- end of form row --}}
            <div class="card card-body border-primary">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="allergies">Allergies</label>
                        <input type="text" class="form-control" name="allergies" placeholder="seperate with comma" value="{{patienet.allergies}}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="medications">Medications</label>
                        <input type="text" class="form-control" name="medications" placeholder="seperate with comma" value="{{patienet.medications}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="height">Height</label>
                        <input type="text" class="form-control" name="height" placeholder="in cm" value="{{patienet.height}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="weight">Weigth (kg)</label>
                        <input type="text" class="form-control" name="weight" placeholder="kg" value="{{patienet.weight}}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="blood_pressure">Blood Pressure (sys/dia)</label>
                        <input type="text" class="form-control" name="blood_pressure" value="{{patienet.blood_pressure}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="pulse">Pulse (bpm)</label>
                        <input type="text" class="form-control" name="pulse" value="{{patienet.pulse}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="temp">Temperature (C)</label>
                        <input type="text" class="form-control" name="temp" value="{{patienet.temperature}}">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
</body>

</html>