<!DOCTYPE html>

{{> head}}

<body>
    {{> header}}
    {{> navbar}}
    <div class="card w-100">

        <div class="card-body border-primary ">
            <div class="container">
                <h4 class="card-header text-center">Patients</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>City</th>
                            <th>Last Visit</th>
                            <th></th>
                            <th></th>
                            <th>Add Records</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each obj.docs}}
                        <tr>
                            <td>{{last_name}}</td>
                            <td>{{first_name}}</td>
                            <td>{{middle_name}}</td>
                            <td>{{city}}</td>
                            <td>{{last_visit}}</td>
                            <td><a href="/patients/edit/{{_id}}" class="btn btn-primary btn-sm">Edit</a></td>
                            <td><a href="#" class="btn btn-danger btn-sm" onclick="confirm_action('/patients/delete/{{_id}}', 'params', 'post')">Delete</a></td>
                            <td><a href='/view/{{_id}}' class="btn btn-primary btn-sm">View</a></td>
                            <td>
                                <form ref='uploadForm' id='uploadForm' action="/patients/upload" method='post' encType="multipart/form-data">
                                    <input type="hidden" name="id" value="{{_id}}" />
                                    <input type="hidden" name="rev" value="{{_rev}}" />
                                    <div class="btn-group" role="group">
                                        <input id="fupload" class=" btn-sm" value="browse" type="file" name="fileUpload" />
                                        <input class="btn btn-outline-primary btn-sm" type='submit' value='Upload!' />
                                    </div>
                                </form>
                            </td>
                            {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="container w3-center">
                <ul class="container pagination pagination-centered">
                    {{#paginate pagination type="first"}}
                    <li {{#if disabled}} class="disabled" {{/if}}><a class="page-link" href="?p={{n}}">First</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="previous"}}
                    <li {{#if disabled}} class="disabled" {{/if}}><a class="page-link" href="?p={{n}}">Prev</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="middle" limit="7"}}
                    <li {{#if active}} class="active" {{/if}}><a class="page-link" href="?p={{n}}">{{n}}</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="next"}}
                    <li {{#if disabled}} class="disabled" {{/if}}><a class="page-link" href="?p={{n}}">Next</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="last"}}
                    <li {{#if disabled}} class="disabled" {{/if}}><a class="page-link" href="?p={{n}}">Last</a></li>
                    {{/paginate}}
                </ul>
            </div>
        </div>
    </div>
    
    {{> footer}}
<script>
	function confirm_action(path, params, method){
		var r=confirm("Confirm Delete Patient");
if (r==true)
  {
  postORget(path, params, method);
  }
else
  {
  console.log('cancel');
  }
	}

	function postORget(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }
    }

    document.body.appendChild(form);
    form.submit();
}
</script>
</body>

</html>