<link rel="stylesheet" href="/assets/css/bootstrap.css" media="print" charset="utf-8">
<link rel="stylesheet" href="/assets/css/w3.css" media="print" charset="utf-8">


<style type="text/css">
  @media print {
    .noprint {
      display: none;
    }
  }
</style>

<div id="myModal">
  <div class="modal-dialog printMe" style="width: 300px;height: 650px; padding: 0px;">
    <div class="modal-content">
      
          <div class="container" style="height: 600px;padding: 5px;">
    <form>
        <div class="form-row" style="width: 290px;padding: 5px;height: 100px;">
            <div class="col" style="width: 80px;height: 80px;"><img src="/assets/images/rx-80x.jpg" class="img" /></div>
            <div class="col" style="width: 210px;height: 80px;">
                <ul class="list-unstyled">
                    <li>{{patient.last_name}}, {{patient.first_name}}</li>
                <li>{{patient.city}}</li>
                <li>DOB: {{patient.dob}}</li>
                </ul>
            </div>
        </div>
        <div></div>
        <div class="form-row" style="width: 290px;padding: 5px;height: 60px;">
            <div class="col" style="width: 280px;height: 60px;">
                <fieldset style="width: 280px;"></fieldset>
                    <legend style="background-color: #f7f3f3;padding: 4px;font-family: Oswald, sans-serif;width: 270px;">Prescription</legend>
                </fieldset>
            </div>
        </div>
        <div class="form-row" style="width: 290px;height: 300px;">
            <div class="col" style="width: 290px;"><textarea class="form-control" name="medications" style="width: 280px;height: 300px;"></textarea></div>
        </div>
        <div class="form-row" style="width: 290px;padding: 5px;height: 90px;">
            <div class="col" style="width: 280px;height: 85px;">
                <div class="form-group d-inline-block" style="width: 215px;margin: 0px;"><label for="signature" style="font-size: 12px;height: 18px;padding: 5px;">Signature:</label><input type="text" name="signature" required class="form-control form-control-lg" style="font-size: 16px;font-family: 'Source Sans Pro', sans-serif;padding: 5px;width: 210px;height: 50px;"
                    /></div>
                <div class="form-group d-inline-block" style="width: 49px;margin: 0px;">
                  <label for="date" style="font-size: 12px;height: 18px;padding: 5px;width: 50px;">Date:</label>
                  <input id="patient_id" name="patient_id" type="hidden" value={{patient._id}}>
              <input id="physician_id" name="physician_id" type="hidden" value={{physician._id}}>
                  <input type="text" class="form-control" style="height: 50px;" />
                  </div>
            </div>
            <div class="modal-footer noprint" style="padding: 2px;">
            <button id="save" type="button" class="btn btn-primary">Save</button>
            <button id="saveAndPrint" type="button" class="btn btn-primary">Save and Print</button>
            <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
    </form>
</div>
      </div>
    </div>
  </div>
  </form>
</div>



<script>
  jQuery.fn.extend({
    printElem: function () {
      var cloned = this.clone();
      var printSection = $('.printSection');
      if (printSection.length == 0) {
        printSection = $('<div id="printSection"></div>')
        $('body').append(printSection);
      }
      printSection.append(cloned);
      var toggleBody = $('body *:visible');
      toggleBody.hide();
      $('#printSection, #printSection *').show();
      window.print();
      printSection.remove();
      toggleBody.show();
    }
  });

  $(document).ready(function () {
    $(document).on('click', '#saveAndPrint', function () {
      //post form
      $('write_rx_form').submit();
      $('.printMe').printElem();
      $('#close').click();
    });
  });

   $(document).ready(function () {
    $(document).on('click', '#save', function () {
      //post form
      $('write_rx_form').submit();
      $('#close').click();
    });
  });

</script>