<!DOCTYPE html>

{{> head}}

<body>
    {{> header}}
    {{> navbar}}
    <div class="card">
        <div class="card-body border-primary ">
            <div class="container">
                <h4 class="card-header">Users</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                            <th>Title</th>
                            <th>Department</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>delete</th>
                            <th>change password</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each obj}}
                        <tr>
                            <td>{{doc.user_name}}</td>
                            <td>{{doc.first_name}}</td>
                            <td>{{doc.last_name}}</td>
                            <td>{{doc.phone1}}</td>
                            <td>{{doc.title}}</td>
                            <td>{{doc.department}}</td>
                            <td>{{doc.email}}</td>
                            <td>{{doc.roles}}</td>

                            <td><a method="get" href="/users/remove/{{doc._id}}" class="btn btn-primary btn-sm">Delete</a></td>
                            <form action="/users/remove/{{doc._id}}" method="post">
                            <td><button type="submit" class="btn btn-primary">Submit</button></td>
                            </form>
                            {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <form action="/users/create" method="post">
            <div class="card-body border-primary ">
                <div class="container">
                    <h5 class="card-header">Add New User</h5>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="user_name">User Name</label>
                            <input type="text" class="form-control" name="user_name" placeholder="user name" autofocus
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" name="first_name" placeholder="first name">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="first_name">Last Name</label>
                            <input type="text" class="form-control" name="last_name" placeholder="last name">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" placeholder="phone">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="title">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="user_name">Department</label>
                                <input type="text" class="form-control" name="department" placeholder="user name">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="email">email</label>
                                <input type="text" class="form-control" name="email" placeholder="first name">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="role">Role</label>
                                <input type="text" class="form-control" name="role" placeholder="last name">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="password1">password</label>
                                <input type="text" class="form-control" name="password" placeholder="password">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="password2">re-enter password</label>
                                <input type="password" class="form-control" name="password2" placeholder="confirm password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</body>

{{> footer}}

</body>

</html>